#header {
    background-color: darkblue;
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#side-nav {
    background-color: darkgreen;
}

a {
    text-decoration: none;
    font-size: xx-large;
    color: blue;
    padding: 4%;
    margin: 2%;
    background-color: yellow;
    font-weight: 600;
}
a:hover {
    color: black;
    background-color: gold;
}

#bcImg {
    background-image: url('../assets/images/background-img.jpg');
    background-size: 100% ;  
    background-size: cover;
}